.control {
  background-color: red;
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 100%;
}

.controlClose {
  background-color: #FC615D;
}

.controlMinimize {
  background-color: #FBBB40;
}

.controlMaximize {
  background-color: #30BA45;
}

.controlContainer {
  display: inline-block;
  margin-right: 5px;
}
