.input {
  font-size: 20px;
  outline: none;
  border: none;
  color: white;
  width: 100%;
  border-bottom: 2px solid #5a5a5a;
  border-left: 2px solid #30ba45;
  padding: 8px 14px;
  border-radius: 3px;
  background-color: #191919;
}
