@import '~webapp/assets/stylesheets/normalize'
@import '~webapp/assets/stylesheets/glyphicons'

body {
  font-family: 'Helvetica', 'Lucida Grande', 'sans-serif'
}

a {
  color: black;
  text-decoration: none;
}
